<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ntubcase.gift">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_giftplanner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
        </activity>

        <activity android:name=".loadingActivity" />
        <activity android:name=".GiftReceivedActivity" />
        <activity android:name=".FriendActivity" />
        <activity android:name=".PlanDetailActivity" />
        <activity android:name=".GiftReceivedDetailActivity" />
        <activity android:name=".GiftDetailActivity" />
        <activity android:name=".MakePlansActivity" />
        <activity android:name=".MakeGiftsActivity" />
        <activity android:name=".PlanActivity" />
        <activity android:name=".GiftActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>