<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ntubcase.gift">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_giftplanner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- *****FB登入***** -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- 登入頁 -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主頁 -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- *****製作禮物區***** -->
        <activity
            android:name=".GiftActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MakeGiftImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MakeGiftVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MakeGiftMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MakeGiftTicketActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MakeGiftCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SendGiftDirectlyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- *****預送計畫區***** -->
        <activity
            android:name=".PlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MakePlanSingleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MakePlanMultipleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PlanMultipleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MakePlanListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SentPlanSingleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SentPlanMultipleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SentPlanMultiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SentPlanListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- *****收禮箱區***** -->
        <activity
            android:name=".GiftReceivedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReceivedSingleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReceivedMultipleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReceivedListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReceivedShowGiftActivity"
            android:screenOrientation="portrait" />


        <!-- *****我的好友區***** -->
        <activity
            android:name=".FriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FriendAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 設定頁 -->
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 說明頁 -->
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- QRcode掃描 -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <!-- ************************ -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                android:value="468819707005566" />
        </provider>
    </application>

</manifest>